@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Hairline.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Italic.ttf.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-HeavyItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src:url("./assets/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}