*{
margin:0;
padding:0;
}
html,
body{
font-family: "Lato", Verdana sans-serif ;
scroll-behavior: smooth;
}
.wrapper{
width: 1020px;
margin:auto;
}
.container{
width:940px;
margin:0 auto;
}
section{
position: relative;
}
.fabulous_spike{
position: absolute;
top: -89px;
}
.title {
font-size: 30px;
line-height: 18px;
color:#666d89;
font-weight: 900;
text-align: left;
letter-spacing: -0.2px;
margin-bottom: 27px;
}
.text{
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-weight: 300;
text-align: justify;
letter-spacing: -0.2px;
}
.subtitle{
font-weight: 900;
text-align: left;
letter-spacing: 0.1px;
font-size: 18px;
line-height: 19px;
color: #666d89;
}
.subtitle-text{
font-size: 12px;
line-height: 21px;
color: #767e9e;
font-weight: 400;
text-align: justify;
letter-spacing: -0.2px;
}
.social-link-block{
display: flex;
width:152px;
height:32px;
justify-content: space-between;
}
.social-link{
width:32px;
height:32px;
background-repeat: no-repeat;
border-radius: 50%;
}
.social-link a{
display: block;
}
.social-link:hover{
cursor:pointer;
background-color: #f06c6440;
}
.link-fb{
background-image: url("./assets/SocNet-icons/FB.svg");
}
.link-g_plus{
background-image: url("./assets/SocNet-icons/google.svg");
}
.link-tw{
background-image: url("./assets/SocNet-icons/twitter.svg");
}
.link-li{
background-image: url("./assets/SocNet-icons/LI.svg");
} 

/* Header */
.site-header{
color:#ffffff;
background-color: #2d303a ;
border-bottom: 6px solid  #323746;
padding:40px 0 32px;
/* height: 89px; */
top: 0;
position: sticky;
z-index: 100;
}
.logo{
text-transform: uppercase;
font-size: 25px;
letter-spacing:-0.5px;
line-height: 9px;
font-weight: 400;
}
.site-header__columns{ 
display:flex;
justify-content: space-between;
align-items: baseline;
}
.snowflake{
color: #f06c64;
}
.site-header__navigation {
width:372px;
display:flex;
justify-content: space-between; 
}
.site-header__nav-element{
font-size: 12px;
text-align: justify; 
text-decoration: none;
list-style-type:none;
letter-spacing: -0.2px;
font-weight: 400;
}
.site-header__nav-element:before{
color:#494e62;
content: "·";
padding-right: 14px;
}
.site-header__nav-element:first-child::before{
display: none;
} 
.navigation-link{
text-decoration: none;
color:white;
}
.navigation-link:hover{
cursor: pointer;
color:#f06c64;
}
.link_selected{
color:#f06c64;
}

/* Slider */
.slider {
height:600px;
box-sizing:border-box;
border-bottom: 6px solid #ea676b;
position: relative;
}
.slider__title{
display:none;
}
.slider__container{
width: 1020px;
height: 100%;
position: relative;
overflow: hidden;
}
.slider__button,
.submit-button{
outline: none;
}
.slider__button::-moz-focus-inner,
.slider__button::-moz-focus-inner{
border:0;
}
.slider__button{
border: none;
width: 46px;
height: 46px;
background: url("./assets/icons/icon-button.png") no-repeat 13px 50%;
border-radius: 50%;
z-index: 1;
}
.slider__button:hover{
cursor:pointer;
background-color:#666d8926;
}
.button_left{
position: absolute;
top:271px;
left:29px;
}
.button_right{
transform:scaleX(-1);
position: absolute;
top:271px;
right:27px;
}
.slider__slide{
display: none;
position:relative;
width: 1020px;
height: 600px;
animation: 0.5s ease-in-out;
}
.slide_active,
.slide_next{
display: block;

}
.slide_next{
position: absolute;
top: 0;
width: 100%;
}
.to_left{
animation-name: left;
}
.to_right{
animation-name: right;
animation-direction: reverse;
}
.from_left{
    animation-name: left;
    animation-direction: reverse;
}
.from_right{
    animation-name: right;
}

@keyframes left{
 from {
    left: 0;
 }
 to {
     left: -100%;
 }

}
@keyframes right{
    from {
       left: 100%;
    }
    to {
        left: 0;
    }
   
}

.slide1_container{
height: 100%;
width: 100%;
box-sizing: border-box;
background-color: #f06c64;
padding-top:5px;
display:inline-block;
}
.slider__phones{
margin-right: 0;
} 
.phone-1{
position: absolute;
display: inline-block;
width: 240px;
height: 484px; 
top:53px;
left:112px;
}
.shadow-1{
background: url("./assets/img/Shadow.png") no-repeat 0 0;
width: 240px;
height: 484px; 

}
.phone-vertical{
background: url("./assets/img/Base.png") no-repeat  0 0;
width: 215px;
height: 458px;
position: absolute;
top: 0;
}
.screen-1{
width: 188px;
height: 333px;
position: absolute;
background: url("./assets/img/iphone-v-bg.png") no-repeat -14px -135px;
top:65px;
left:14px;
}
.phone-2{
display: inline-block;
width:216px;
height: 458px; 
position: absolute;
top:1px;
left:425px;
}
.phone-horizontal{
background: url(./assets/img/Base.png) no-repeat;
width: 216px;
height: 458px;
transform: rotate(90deg);
margin-right: 0;
position: absolute;
left: 121px;
top: 52px;
}
.shadow-2 {
width: 300px;
height: 600px; 
background:  url("./assets/img/Shadow.png") no-repeat;
transform: rotate(90deg) scaleX(-1);
position: absolute;
left:34px;
bottom:-105px; 
}
.screen-2{
width: 333px;
height: 188px;
position: absolute;
background: url("./assets/img/iphone-h-bg.png") no-repeat -125px -119px;
top:187px;
left:60px;
}
.turned-off{
display:none;
}


/* Services */

.services{
background-color: #f2f2f2;
border-bottom: 6px solid  #ffffff;
padding:68px 0 30px;
}
.services__header{
margin-bottom: 45px;
}
.services__title{
letter-spacing: 0px;
}
.columns-3{
display:flex;
justify-content: space-between;
}
.services__columns{
flex-wrap:wrap;
}
.column{
width:300px;
}
.services__details{
display:flex;
margin-bottom: 32px;
}
.promo-text{
padding-left: 5px;
width:75%;
}
.services__subtitle{
margin-bottom: 9px;
}
.services__description{
text-align: justify;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
-moz-webkit-box-orient: vertical;
}
.services__icon{
background-position:0px 2px ; 
background-repeat: no-repeat;
width:25%;  
}
.icon-1 {
background-image: url("./assets/icons/pen.png");
}
.icon-2{
background-image: url("./assets/icons/bulb.png"); 
}
.icon-3 {
background-image: url("./assets/icons/heart.png");
}
.icon-4{
background-image: url("./assets/icons/phone.png");
}
.icon-5{
background-image:url("./assets/icons/bubble.png");
}
.icon-6{
background-image:url("./assets/icons/star.png");
}

/* Portfolio */
.portfolio{
background-color: #2d303a;
border-bottom:6px solid #323746;  
padding:68px 0 62px;
}
.portfolio__container{
width: 950px;
margin: auto; 
}
.portfolio__header{
margin-bottom: 11px;
padding-left: 5px;
}
.portfolio__title{
letter-spacing: 0.2px;
}
.portfolio__tag-box{
width: 288px;
display:flex;
justify-content: space-between;
margin-bottom: 14px;
padding-left: 5px;
}
.portfolio__tag{
box-sizing: border-box;
border: 1px solid #666d89;
border-radius: 5px;
padding:0 6px 0;
font-size: 12px;
height: 22px; 
color: #767e9e;
font-weight: 400;
text-align: left;
line-height: 19px;
}
.portfolio__tag:hover{
cursor: pointer;
box-shadow: 0 0 16px 3px #f06c647a;
}
.portfolio__tag:first-child{
margin-left: 1px;
}
.tag_selected{
border: 1px solid #c5c5c5;
color: #dedede;
}
.portfolio__album{
padding: 5px 5px;    
height:601px;
display:flex;
justify-content: space-between;
flex-wrap: wrap;
overflow:hidden;
}
.portfolio__pics{
width:220px;
height:187px;
background-color: #464b5e;
margin-bottom: 20px;
}
.pic_selected{
outline: 5px solid #F06C64;
}
.pic_01{
background: url("./assets/img/Portfolio/portfolio1.jpg") no-repeat -8px -11px;
}
.pic_02{
background: url("./assets/img/Portfolio/portfolio2.jpg") no-repeat -82px  -43px;
}
.pic_03{
background: url("./assets/img/Portfolio/portfolio3.jpg") no-repeat -11px  -1px;
}
.pic_04{
background: url("./assets/img/Portfolio/portfolio4.jpg") no-repeat -24px  -2px;
}
.pic_05{
background: url("./assets/img/Portfolio/portfolio5.jpg") no-repeat -10px  -16px;
}
.pic_06{
background: url("./assets/img/Portfolio/portfolio6.jpg") no-repeat -16px  -4px;
}
.pic_07{
background: url("./assets/img/Portfolio/portfolio7.jpg") no-repeat -31px  -39px;
}
.pic_08{
background: url("./assets/img/Portfolio/portfolio8.jpg") no-repeat -24px  -32px;
}
.pic_09{
background: url("./assets/img/Portfolio/portfolio9.jpg") no-repeat -16px  -2px;
}
.pic_10{
background: url("./assets/img/Portfolio/portfolio10.jpg") no-repeat -141px  -113px;
}
.pic_11{
background: url("./assets/img/Portfolio/portfolio11.jpg") no-repeat -144px  -175px;
}
.pic_12{
background: url("./assets/img/Portfolio/portfolio12.jpg") no-repeat -36px  -60px;
}

/* About Us */
.about-us{
background-color: #f2f2f2;
border-bottom:6px solid #ffffff;  
padding:68px 0 67px;
}
.about-us__header{
margin-bottom: 45px;
}
.about-us__photo{
height:300px;
background-color:#464b5e;
margin-bottom: 17px;
}
.photo1{
background: url("./assets/img/About_Us/photo1.jpg") no-repeat 0 0;
}
.photo2{
background: url("./assets/img/About_Us/photo2.jpg") no-repeat -1px 0;
}
.photo3{
background: url("./assets/img/About_Us/photo3.jpg") no-repeat 0 0;
}
.about-us__name{
box-sizing: border-box;
height: 19px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin-bottom: 9px;
}
.about-us__description{
line-height: 21px;
margin-bottom: 24px;
}

/* Get a Quote */
.get-a-quote{
background-color: #f06c64;
border-bottom:6px solid #ea676b;  
padding:68px 0 0px;
}
.get-a-quote__title{
color: #f0d8d9;
}
.get-a-quote__text{
color:  #f0d8d9;
}
.get-a-quote__header{
margin-bottom: 44px;
}
.get-a-quote__columns{
display:grid;
grid-template-columns: auto 300px;
gap: 20px;
}
form {
grid-column: 1/2;
}
.get-a-quote__info{
grid-column: 2/3;
}
input,
textarea{
outline: none;
display:block;
box-sizing: border-box;
border:none;
border-radius: 5px;
background-color: #d6564f;
margin-bottom: 16px;
width:619px;
padding-left: 15px;
font-family: "Lato", Verdana sans-serif ;
font-size: 12px;
line-height: 22px;
color: #f0d8d9;
font-weight: 400;
text-align: left;
}
input::placeholder,
textarea::placeholder{
font-family: "Lato", Verdana sans-serif ;
font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-weight: 400;
text-align: left;
}
input::-moz-placeholder{
line-height: 36px;
}
input{
height:38px;
padding-bottom: 1px;
letter-spacing: 0.1px;
}
input[required]:invalid:focus{
border: 2px solid red;
padding-left: 13px;
}
textarea{
height: 202px;
resize: none;
padding-top: 7px;
}
.submit-button{
width: 100px;
border:2px solid #d6564f;
font-family: "Lato", Verdana sans-serif ;
font-size: 14px;
line-height: 22px;
color: #d6564f;
font-weight: 900;
text-align: center;
padding-left: 0px;
background-color:#f0d8d9;
margin-bottom: 13px;
}
.submit-button:hover{
cursor: pointer;
background-color: #f2f2f2;
width:120px;
height: 40px;
font-size: 16px;
margin-bottom: 11px;
border:none;
}
.get-a-quote__subtitle{
color: #f0d8d9;
margin-bottom: 9px;
}
.get-a-quote__description{
color: #f0d8d9;
margin-bottom: 24px;
text-align: justify;
}
.get-a-quote a{
display:block;
text-decoration: none;
color: #f0d8d9;
background-repeat: no-repeat; 
padding-left: 23px;
}
.get-a-quote__address{
background-position: 3px 5px;
background-image: url("./assets/Get_a_Quote/location.svg");
}
.get-a-quote__tel{
background-position: 1px 5px;
background-image: url("./assets/Get_a_Quote/phone.svg"); 
}
.get-a-quote__email{
background-position: 0px 9px;
background-image: url("./assets/Get_a_Quote/mail.svg");
}

/* Footer */
.site-footer{
background-color: #2d303a;
padding: 22px 0 22px;
}
.site-footer__columns{
display:flex;
justify-content: space-between;
align-items: center;
}
.copyright-text+.copyright-text::before{
color:#494e62;
content: "·";
padding-right:2px;
}
.site-footer__copyright{
line-height: 22px;
padding-left: 2px;
text-align: left;
color:#666d89;
}
